@font-face {
    font-family: Montserrat;
    font-weight: 700;
    src: url(/fonts/Montserrat/Montserrat-Bold.ttf); 
}
@font-face {
    font-family: Montserrat; 
    font-weight: 600;
    src: url(/fonts/Montserrat/Montserrat-SemiBold.ttf); 
}
@font-face {
    font-family: Montserrat; 
    font-weight: 500;
    src: url(/fonts/Montserrat/Montserrat-Medium.ttf); 
}
@font-face {
    font-family: Montserrat; 
    font-weight: 400;
    src: url(/fonts/Montserrat/Montserrat-Regular.ttf); 
}

body {
    min-width: 320px;
    height: 100%;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-size: 14px;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-header {
    position: relative;
    width: 100%;
    height: 524px;
    transition: .5s;
}

.header-shadow {
    transition: .5s;
}

.header-shadow--active {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    transition: .5s;
    z-index: 98;
}

.header__top {
    position: relative;
    display: flex;
    flex-direction: column;
}

.header__logo {
    display: flex;
    flex-direction: column;
}

.header__logo-img {
    width: 179px;
    height: 90px;
    background-image: url("../img/logo-mob.png");
    margin-top: 20px;
    margin-left: 21px;
}

.header-desc, .header__nav {
    display: none;
}

.header__contacts {
    position: absolute;
    top: 0;
    left: -285px;
    width: 285px;
    height: 100vh;
    background-color: #ffffff;
    visibility: hidden;
    transition: .5s;
    z-index: 98;
}

.header__contacts--active {
    position: absolute;
    display: block;
    left: 0;
    visibility: unset;
    z-index: 98;
    transition: .5s;
}

.header-closed {
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url("/img/close.png");
    width: 30px;
    height: 30px;
}

.nav__menu-list {
    margin-top: 59px;
    margin-left: 16px;
    width: 253px;
    height: 230px;
    border-bottom: 1px solid #E0E3EA;
}

.nav__menu-item {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-bottom: 27px;
    font-weight: 700;
}

.nav__menu-link {
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    color: #003882;
}

.nav__menu-link span {
    margin-top: 25px;
}

.menu-link--active {
    color: #6998D5;
}

.header__nav-list {
    margin-left: 16px;
    margin-top: 30px;
}

.header__nav-phone {
    display: none;
}

.header__nav-item {
    display: flex;
    flex-direction: column;
}

.header__nav-tel {
    text-decoration: none;
    color: #303030;
    font-size: 24px;
}

.header__nav-item:nth-child(2) span {
    margin-left: 80px;
}

.header__nav-btn {
    background: linear-gradient(162.33deg, #C21C1C -2.03%, #BD1313 -2.02%, #970D1D 91.42%);
    width: 199px;
    height: 48px;
    border-radius: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    margin-top: 25px;
    margin-left: 59px;
}

.header__mob-menu {
    position: absolute;
    top: 50px;
    right: 16px;
}

.mob-menu__item {
    width: 40px;
    height: 4px;
    background: #B01C2E;
    border-radius: 7px;
    margin-bottom: 9px;
}

.header__contant {
    position: absolute;
    background-image: url("/img/mob-fon.png");
    background-repeat: no-repeat;
    width: 320px;
    height: 394px;
    margin-top: 19px;
    z-index: 97;
}

.header__contant-left{
    margin-left: 16px;
    padding-top: 65px;
}

.header__text {
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
}

.header__text span {
    color: #b01c2e;
}

.header__descr {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
    font-size: 16px;
    font-weight: 400;
    color: #A1A6B7;
}

.header__contant-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 221px;
    height: 48px;
    margin-top: 41px;
    background: linear-gradient(164deg, #C21C1C -2.03%, #BD1313 -2.02%, #970D1D 91.42%);
    border-radius: 51px;
    color: #ffffff;
    margin-left: 67px;
}

.page-main {
    width: 100%;
    height: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.company {
    width: 100%;
    position: relative;
    height: 853px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 288px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-text {
    display: flex;
    align-items: center;
    justify-content: center;  
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    color: #303030;
    text-align: center;
}

.company-text b{
    height: 29px;
    width: 159px;
}

.company-text::before {
    position: absolute;
    left: 0;
    content: "";
    width: 15%;
    height: 1px;
    background: rgba(176, 28, 46, 0.15);
}

.company-text::after {
    position: absolute;
    right: 0;
    content: "";
    width: 15%;
    height: 1px;
    background: rgba(176, 28, 46, 0.15);
}

.company-text span{
    width: 5px;
    height: 5px;
    padding: 3px;
    box-sizing: border-box;
    background: #B01C2E;
    border-radius: 50%;
}

.company-text--left {
    margin-right: 25px;
}

.company-text--right {
    margin-left: 25px;
}

.company-left {
    margin-top: 16px;
    width: 100%;
}

.company-descr {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.company-right {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company-info span{
    display: block;
    font-size: 22px;
    line-height: 27px;
    font-weight: 600;
    color: #303030;
    margin-top: 15px;
    margin-bottom: 7px;
}

.company-info span b {
    display: none;
}

.company-info {
    width: 229px;
    text-align: center;
    font-size: 16px;
}

.company-info--text {
    margin-top: 32px;
    line-height: 20px;
    font-weight: 400;
    color: #A1A6B7;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #303030;
}

.company-btn {
    position: absolute;
    bottom: 0px;
    right: 16px;
    width: 247px;
    height: 48px;
    background: linear-gradient(165.61deg, #C21C1C -2.03%, #BD1313 -2.02%, #970D1D 91.42%);
    border-radius: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-weight: 600;
    line-height: 17px;
}

.advantages {
    margin-top: 74px;
}

.advantages-text b{
    height: 58px;
    width: 186px;
}

.advantages-text .company-text--left {
    margin-right: 24px;
}

.advantages-text .company-text--right {
    margin-left: 24px;
}

.advantages-text::before {
    width: 13%;
}

.advantages-text::after {
    width: 13%;
}

.advantages-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.advantages-img {
    margin-top: 20px;
    margin-bottom: 12px;
}

.advantages-tittle {
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 5px;
}

.advantages-info {
    font-size: 16px;
    line-height: 24px;
}

.advantages-list {
    width: 100%;
}

.advantages-item:nth-child(2) .advantages-img{
    margin-top: 37px;
    margin-bottom: 16px;
}

.advantages-item:nth-child(3) .advantages-img{
    margin-top: 18px;
    margin-left: -15px;
    margin-bottom: 5px;
}

.partners {
    margin-top: 73px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners-text b{
    width: 211px;
}

.partners-text::before {
    width: 10%;
}

.partners-text::after {
    width: 10%;
}

.partners-container {
    width: 320px;
    margin-top: 30px;
}

.partners-block {
    width: 288px;
    background: #FFFFFF;
    box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.06);
    border-radius: 6px;
    height: 171px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.partners .owl-carousel .owl-item img {
    width: 172px;
    height: 91px;
    display: flex;
    justify-content: center;
}

.partners .owl-item div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.partners .owl-nav {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 38%;
}

.partners .owl-dots {
    display: none;
}

.partners .owl-prev, .owl-next {
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.07);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.partners .owl-prev span{
    font-size: 35px;
    color: #B01C2E;
    line-height: 0;
}

.partners .owl-next span{
    font-size: 35px;
    color: #B01C2E;
    line-height: 0;
}

.services {
    margin-top: 75px;
}

.services-list {
    width: 100%;
}

.services-item {
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 40px;
}

.services-img{
    width: 288px;
}

.services-item--left {
    height: 192px;
    overflow: hidden;
    position: relative;
}

.services-item--right {
    background: #003882;
    width: 100%;
    height: 261px;
    position: relative;
}

.services-text {
    margin-bottom: 30px;
}

.services-tittle {
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
    color: #ffffff;
    margin-left: 20px;
    padding-top: 24px;
}

.services-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    margin-top: 10px;
    margin-left: 20px;
    color: #98B8E3;
}

.services-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 48px;
    background: linear-gradient(157.09deg, #C21C1C -2.03%, #BD1313 -2.02%, #970D1D 91.42%);
    border-radius: 51px;
    text-decoration: none;
    color: #ffffff;
    position: absolute;
    right: 20px;
    bottom: 25px;
}

.services-img-trening {
    position: absolute;
    top: -20px;
    left: -89px;
    width: 460px;
    height: 220px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.services-item:nth-child(2) .services-item--right {
    height: 305px;
}

.services-item:nth-child(2) .services-tittle {
    line-height: 37px;
}

.services-item:nth-child(2) .services-info {
    margin-top: 2px;
    font-size: 16px;
    width: 220px;
    line-height: 21px;
}

.services-item:nth-child(2) .services-btn {
    bottom: 26px;
}

.services-item:nth-child(3) .services-item--right {
    height: 222px;
}

.services-item:nth-child(3) .services-tittle {
    line-height: 37px;
    padding-top: 20px;
}

.services-item:nth-child(3) .services-info {
    width: 249px;
    margin-top: 5px;
    font-size: 16px;
}

.about {
    width: 100%;
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.about-info {
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
}

.about-list {
    width: 100%;
}

.about-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-img {
    margin-bottom: 19px;
}

.about-item:nth-child(2) .about-img{
    margin-top: 59px;
    margin-left: -10px;
    margin-bottom: 23px;
}

.about-item:nth-child(3) .about-img{
    margin-top: 59px;
    margin-left: -13px;
    margin-bottom: 19px;
}

.about-item:nth-child(3) .about-info {
    width: 295px;
}

.recommendation {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recommendation-block {
    background: #FFFFFF;
    border: 1px solid #EEF2F9;
    box-sizing: border-box;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin-top: 30px;
}

.recommendation .owl-carousel .owl-item img {
    width: 268px;
}

.recomendation-btn {
    margin: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #DBE1EB;
}

.recomendation-btn span {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 36px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recommendation-date {
    color: #A1A6B7;
    margin-left: 21px;
}

.recommendation-tittle {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-left: 21px;
    margin-top: 10px;
}

.recommendation-info {
    color: #303030;
    margin-left: 21px;
    margin-top: 10px;
    width: 248px;
}

.recommendation-link {
    display: block;
    margin-top: 20px;
    margin-right: 20px;
    text-align: right;
}